#
# This file controls the configuration of the audit daemon
#

log_file = <%= @log_file %>
log_format = RAW
log_group = syslog
priority_boost = 4
flush = INCREMENTAL
freq = 20
num_logs = <%= @num_logs %>
disp_qos = lossy
dispatcher = /sbin/audispd
name_format = NONE
##name = mydomain
max_log_file = <%= @max_log_file %>
max_log_file_action = ROTATE
space_left = <%= @space_left %>
space_left_action = SYSLOG
action_mail_acct = root
admin_space_left = <%= @admin_space_left %>
admin_space_left_action = SUSPEND
disk_full_action = SUSPEND
disk_error_action = SUSPEND
##tcp_listen_port = 
tcp_listen_queue = 5
tcp_max_per_addr = 1
##tcp_client_ports = 1024-65535
tcp_client_max_idle = 0
enable_krb5 = no
krb5_principal = auditd
##krb5_key_file = /etc/audit/audit.key

