## Remove any existing rules
-D

## Buffer Size
## Max count of events to buffer
-b <%= @max_event_buffer %>

## Failure Mode
## Possible values are 0 (silent), 1 (printk, print a failure message),
## and 2 (panic, halt the system).
-f 1

## Set maximum of 100 events per second
-r 100

## Monitor for use of audit management tools
-w /sbin/auditctl -p x -k audittools
-w /sbin/auditd -p x -k audittools

## Mount operations
-a exit,always -F arch=b32 -S mount -S umount -S umount2 -k mount
-a exit,always -F arch=b64 -S mount -S umount2 -k mount

## library search paths
-w /etc/ld.so.conf -p wa -k libpath

## modprobe configuration
-w /etc/modules -p wa -k modules

## changes to hostname
-a exit,always -F arch=b32 -S sethostname -k hostname
-a exit,always -F arch=b64 -S sethostname -k hostname

## Monitor for use of process ID change (switching accounts) applications
-w /bin/su -p x -k priv_esc
-w /usr/bin/sudo -p x -k priv_esc
-w /etc/sudoers -p rw -k priv_esc

## Monitor usage of commands to change power state
-w /sbin/shutdown -p x -k power
-w /sbin/poweroff -p x -k power
-w /sbin/reboot -p x -k power
-w /sbin/halt -p x -k power

## disable iptables messages and redundant login events
-a exclude,always -F msgtype=NETFILTER_CFG
-a always,exclude -F msgtype=USER_ACCT
-a always,exclude -F msgtype=CRED_ACQ
-a always,exclude -F msgtype=USER_START
-a always,exclude -F msgtype=CRED_DISP
-a always,exclude -F msgtype=USER_END
-a always,exclude -F msgtype=LOGIN
-a always,exclude -F msgtype=USER_LOGIN
